@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;900&display=swap");

$small: 360px;
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  background: rgb(177, 212, 229);
  background: radial-gradient(
    circle,
    rgba(177, 212, 229, 1) 0%,
    rgba(177, 212, 229, 1) 0%,
    rgba(120, 140, 182, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.warning {
  display: none;
  @media screen and (max-width: $small) {
    display: flex;
  }
}
.title {
  font-weight: 100;
  @media screen and (max-width: $small) {
    display: none;
  }
}

h3 {
  font-weight: 600;
  font-size: 22px;
  padding: 20px;
  box-shadow: inset 0 0 5px 0.5px rgba(255, 120, 120, 0.5);
  @media screen and (max-width: $small) {
    display: none;
  }
  #score {
    font-weight: 200;
    color: white;
    background-color: red;
    padding: 10px;
  }
}
.container {
  display: flex;
  @media screen and (max-width: $small) {
    display: none;
  }

  .grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    // background-color: yellow;
    // box-shadow:inset 0 0 2px #002663;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 38, 99, 0.6);
    div {
      width: 20px;
      height: 20px;
    }
  }
  .tetromino {
    background-color: blue;
    box-shadow: inset 0 0 1px #eee;
    border-radius: 1px;
  }

  aside {
    width: 140px;
    height: 340px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding: 30px;
    gap: 20px;
    border-radius: 2px;
    background-color: #efe9e5;
    box-shadow: inset 1px 1px 5px 4px rgba(0, 38, 99, 0.6);
    .mini-grid {
      width: 80px;
      height: 80px;
      display: flex;
      flex-wrap: wrap;

      div {
        height: 20px;
        width: 20px;
      }
    }
    button {
      border: none;
      border-radius: 2px;
      cursor: pointer;
      padding: 10px 0;
      background-color: rgba(120, 140, 182, 0.8);
      color: rgba(177, 212, 229, 1);
      font-weight: 600;
    }
  }
}
.page-footer {
  font-size: 14px;
  font-weight: 100;
}
